html, body {
  margin:0;
  padding:0;
  background: white;
  font-family: Roboto;
  font-size: 18px;
}

.menu{
  width: 100vw;
  padding: 0 5vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  position: fixed;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation > a {
  color: red;
}

.navigation > a:hover {
  color: blue;
  text-decoration: underline;
}

.fond {
  height: 100vh; 
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
}

.rectangle {
  height: 90vh; 
  width: calc(100vw - 10vh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction : column;
  background: #001C19;
  font-family: Roboto;
  font-size: 20px;
  color: white;
}

.rectangle_centre {
  padding: 20px;
  background: white;
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  font-size: 25px;
  color: #001C19;
}

.zone_80 {
  height: 90vh; 
  width: calc(100vw - 10vh);
  display: flex;
  align-items: center;  
  justify-content: space-around;
  flex-direction: column;
  background: white;
}

.titre {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
  color: #001C19;
}

.texte {
  width: 80vw;
  display: flex;
  align-items: left;
  justify-content: left;
  font-family: Roboto;
  color: #001C19;
}

.services-logo {
  margin: 15px;
  color: #69b3a2;
  font-size: 45px;
  padding: 30px;
  border-radius: 50%;
  border-color: black;
  border-width: 5px;
  border: solid;
}

.services-logo:hover {
  color: white;
  background-color: #69b3a2;
}