html, body {
  margin:0;
  padding:0;
  background: #FEF5E6;
  font-family: Roboto;
  font-size: 18px;
}

.menu{
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FEF5E6;
  position: fixed;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fond {
  height: 100vh; 
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #FEF5E6;
}

.rectangle {
  height: 90vh; 
  width: calc(100vw - 10vh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction : column;
  background: #001C19;
  font-family: Roboto;
  font-size: 20px;
  color: #FEF5E6;
}

.rectangle_centre {
  padding: 20px;
  background: #FEF5E6;
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  font-size: 25px;
  color: #001C19;
}

.zone_80 {
  height: 90vh; 
  width: calc(100vw - 10vh);
  display: flex;
  align-items: center;  
  justify-content: space-around;
  flex-direction: column;
  background: #FEF5E6;
}

.citation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 25px;
  color: #001C19;
}

.titre {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
  color: #001C19;
}

.texte {
  width: 80vw;
  display: flex;
  align-items: left;
  justify-content: left;
  font-family: Roboto;
  color: #001C19;
}

.tab_2col {
  width: 70vw;
  /*display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-around;*/
  color: #001C19;
}

.cell {
  height: calc(100%/3);
  width: 50%;
  display: flex;
  float: left;
  flex-direction : row;
}

.portfolio1 {
  height: 40vh;
  width:80%; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.portfolio2 {
  height: 40vh;
  width: 80%; 
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.tab_txt {
  height: 80vh; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.zone_test1 {
  height: 70vh; 
  width: calc(80vw - 10vh);
  display: flex;
  background: yellow;
}

.zone_test2 {
  height: 70vh; 
  width: calc(20vw - 10vh);
  display: flex;
  background: green;
}

.zone_test3 {
  height: 20vh; 
  width: calc(100vw - 10vh);
  display: flex;
  background: orange;
}
