<!DOCTYPE html>
<html>
<head>
    <title>Teddy Thiebault</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <main>
        <div class="menu"> 
            <div style="width:25%">
                <img src="../img/Photo.png" width="20" height="20">
            </div>
            <div class="navigation"; style="width:50%">
                <a href="#services"> Services </a> 
                <a href="#about_me"> A propos de moi </a>
                <a href="#portfolio"> Portfolio </a>
                <a href="#contact"> Contact </a>
            </div> 
            <div class="text-end" style="width:25%">
                EN - Inverser luminosité
            </div>       
        </div>
        <div class="fond">
            <div class="rectangle">
                <div class="rectangle_centre">
                    <p>
                        TEDDY 
                        <br> 
                        THIEBAULT
                    </p>
                </div>
                <p>
                    Data Analyst | Data Engineer
                </p>
            </div>
        </div>
        <div class="fond" id="services">
            <div class="zone_80">
                <div class="citation">
                    <p>
                        "Citation t'as capté"
                    </p>
                </div>
                <div class="titre">
                    <p>
                        SERVICES :
                    </p>
                </div>
                <div class="texte">
                    <p>
                        En tant qu'analyste de données et data scientist freelance, je traduis les données en insights précieux et compréhensibles. Mon objectif est d'améliorer les résultats, de prendre les bonnes décisions et de réduire les coûts.
                        <br>
                        J'ai de l'expérience dans l'apprentissage automatique, les algorithmes supervisés et non supervisés et j'utilise des techniques de visualisation des données pour présenter les résultats. J'utilise SQL, R, Python, QlikView et Tableau pour mes projets de données.
                    </p>
                </div>
                <div class="tab_2col">
                    <div class="cell">
                        <img src="../img/Photo.png" width="100" height="100">
                        <p>
                            <b> 
                                Data analyse :
                            </b>
                            <br>
                            lkzhegiujeroighierjierjrr
                            rkogeorkgoerjgi ijrgogjelg ijeorjgioerj o
                            <br>
                            <a href="projet1.html"> (example)</a>
                        </p>
                    </div>
                    <div class="cell">
                        <img src="../img/Photo.png" width="100" height="100">
                        <p>
                            <b> 
                                Data analyse :
                            </b>
                            <br>
                            lkzhegiujeroighierjierjrrr g ehg
                            rkogeorkgoerjgi ijrgogjelg ijeorjgioerj osgrezrg
                            <br>
                            <a href="projet1.html"> (example)</a>
                        </p>
                    </div>
                    <div class="cell">
                        <img src="../img/Photo.png" width="100" height="100">
                        <p>
                            Data analyse : 
                            <br>
                            lkzhegiujeroighierjierjrr
                            rkogeorkgoerjgi ijrgogjelg ijeorjgioerj o
                            (example)
                        </p>
                    </div>
                    <div class="cell">
                        <img src="../img/Photo.png" width="100" height="100">
                        <p>
                            Data analyse : 
                            <br>
                            lkzhegiujeroighierjierjrr
                            rkogeorkgoerjgi ijrgogjelg ijeorjgioerj o
                            (example)
                        </p>
                    </div>
                    <div class="cell">
                        <img src="../img/Photo.png" width="100" height="100">
                        <p>
                            Data analyse : 
                            <br>
                            lkzhegiujeroighierjierjrr
                            rkogeorkgoerjgi ijrgogjelg ijeorjgioerj o
                            (example)
                        </p>
                    </div>
                    <div class="cell">
                        <img src="../img/Photo.png" width="100" height="100">
                        <p>
                            Data analyse : 
                            <br>
                            lkzhegiujeroighierjierjrr
                            rkogeorkgoerjgi ijrgogjelg ijeorjgioerj o
                            (example)
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="fond"  id="about_me" style="background: #001C19;color: #FEF5E6;">
            <div class="titre" style="color: #FEF5E6;">
                <p>
                    A PROPOS DE MOI :
                </p>
            </div>
            <div class="texte" style="color: #FEF5E6;">
                <p>
                    Bonjour, je m'appelle Claudia et je travaille à distance en tant qu'analyste de données/scientifique freelance. Je suis titulaire d'une licence et d'un master en sciences (Business Analytics, VU University Amsterdam). 
                    <br>
                    Depuis toute petite, j'ai toujours aimé résoudre des énigmes. C'est ainsi que je considère les grands ensembles de données : pour moi, il s'agit d'un grand puzzle que je veux résoudre. Trouver des modèles que personne d'autre ne voit, voilà le défi que je dois relever.
                    <br>
                    Avant de me lancer en tant qu'indépendant, j'ai travaillé pendant plus de huit ans comme analyste de données dans le secteur du conseil et de la vente au détail. J'ai travaillé pour plus de 25 entreprises, ce qui me donne la capacité de traduire des questions complexes en informations compréhensibles.
                    <br>
                    Voulez-vous travailler ensemble ? N'hésitez pas à me contacter par e-mail.
                </p>
                <img src="../img/Photo.png">
            </div>
            <div>
                <a href="#contact"> Bouton contact </a>
            </div>
        </div>
        <div class="fond"  id="portfolio">
            <div class="zone_80">
                <div class="titre">
                    <p>
                        PORTFOLIO :
                    </p>
                </div>
                <div class="portfolio1">
                    <a href="https://www.malt.fr/profile/teddythiebault"> <img src="../img/Photo.png" width="200" height="100"> </a>
                    <img src="../img/Photo.png" width="200" height="100">
                    <img src="../img/Photo.png" width="200" height="100">
                </div>
                <div class="portfolio2">
                    <img src="../img/Photo.png" width="200" height="100">
                    <img src="../img/Photo.png" width="200" height="100">   
                </div>
            </div>
        </div>
        <div class="fond" style="height: 60vh; background: #001C19;color: #FEF5E6;">
            <div class="zone_80" style="height: 40vh; background: #001C19;">
                <div class="titre" style="background:#001C19;color:#FEF5E6">
                    <p>
                        CONTACT
                    </p>
                </div>
                <div class="texte" style="background:#001C19;color:#FEF5E6">
                    <p>
                        teddy.thiebault@gmail.com
                        <br>
                        En tant qu'expert en données, je sais exactement comment vous pouvez utiliser les données de manière optimale dans votre entreprise. Sur la base de vos objectifs, nous établirons un plan pour atteindre la bonne perspicacité.
                    </p>
                </div>
                <div class="tab_txt">
                    <p>
                        **Je suis disponible pour:**
    
                        - l'analyse de données
                        - Analyse de données (modèles de prédiction, segmentations)
                        - Visualisation de données (infographies, tableaux de bord)
                        - Conseil et accompagnement de projets de données
                        - Formation et ateliers (débuter avec l'analyse de données, comment répondre à des questions avec des données, pratique de SQL, pratique de R)
                        - Présentations (storytelling, comment présenter les données, comment les autres entreprises utilisent-elles les données ?)
                    </p>
                    <p>
                        **Taux**
                        - Projets d'analyse de données, d'analyse de données et de visualisation : 800 € par jour.
                        - Présentations, formations et ateliers à partir de 550 € (4 heures maximum)
                        - Formation d'une journée complète à partir de 950 €.
    
                        Les tarifs sont hors TVA.
                    </p>
                </div>
            </div>
        </div>
        <div class="fond" id="contact" style="height: 20vh">
            <p>
                LINKEDIN
            </p>
        </div>
        <div class="fond" style="height: 20vh; background: #001C19;color: #FEF5E6;">
            <p>
                MENTIONS LEGALES
            </p>
        </div>
    </main>
</body>

</html>
