<!DOCTYPE html>
<html>
<head>
    <title>Teddy Thiebault</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
</head>

<body>
    <main>
        
      <section id="homepage">
        <div class="menu"> 
          <div style="width:25%; font-size:2vh; display:flex;">
            <a class="text-center logo mb-0 text-decoration-none" href="#homepage">
              TEDDY <br> THIEBAULT
            </a>
          </div>
          <div class="navigation" style="display:flex; width:50%; justify-content: space-between; font-size:2vh">
              <a class="text-decoration-none" href="#services"> SERVICES </a> 
              <a class="text-decoration-none" href="#about_me"> À PROPOS DE MOI </a>
              <a class="text-decoration-none" href="#portfolio"> PORTFOLIO </a>
              <a class="text-decoration-none" href="#contact"> CONTACT </a>
          </div> 
          <div class="text-end" style="width:25%">
              <img src="../img/luminosité.png" width="30px" height="30px">
              EN/FR
          </div>       
      </div>
      <div class="fond">
          <div class="rectangle">
              <div class="rectangle_centre">
                  <p class="mb-0">
                      TEDDY 
                      <br> 
                      THIEBAULT
                  </p>
              </div>
              <p>
                  Data Analyst | Data Engineer
              </p>
          </div>
      </div>
      </section>


      <section id="services">
        <div class="container"  style="padding-top:25vh; padding-bottom: 25vh;">
            <div class="row">
              <div class="col-lg-12 text-center" style="padding-bottom: 3%">
                <p style="display:inline; font-size: 35px">SERVICES</p>
                <center>
                <hr style="width: 100px; height: 1px; border:none;color:#001C19;background-color:#001C19;">
                  <h3 style="max-width: 1200px;  line-height: 27px;" class="section-subheading text-muted">
                    Je vous accompagne afin de mettre en place ou d'améliorer la structure de données de votre entreprise, depuis la collecte jusqu’à la visualisation, je vous propose de rendre vos données accessibles et utilisables par vos différentes équipes.
                  </h3>
                </center>
              </div>
            </div>
      
            <div class="row">
              <!-- changer les i pour changer les icones, pas touchber à services-logo -->    
              <div class="col-lg-4 text-center">
                <a data-bs-toggle="modal" data-bs-target="#dataManagement"><i class="fa fa-wrench services-logo" style="background:#429965; color: #001C19;"></i></a>
                <a data-bs-toggle="modal" data-bs-target="#dataManagement">
                  <h4>Data Engineering</h4>
                </a>
                <p>Collecte, nettoyage et remodelage des données. Développement de workflows.</p>
                <a data-bs-toggle="modal" data-bs-target="#dataManagement" style="font-size: 23px">+</a>
              </div>
      
              <div class="col-lg-4 text-center">
                <a data-bs-toggle="modal" data-bs-target="#dataMining"><i class="fa fa-search services-logo" style="background:#429965; color: #001C19;"></i></a>
                <a data-bs-toggle="modal" data-bs-target="#dataMining">
                  <h4>Data Analysis</h4>
                </a>
                <p>Exploration de données, application de méthodes statistiques, analyse de données réplicables.</p>
                <a data-bs-toggle="modal" data-bs-target="#dataMining" style="font-size: 23px">+</a>
              </div>
      
              <div class="col-lg-4 text-center">
                <a data-bs-toggle="modal" data-bs-target="#dataViz"><i class="fa fa-bar-chart services-logo" style="background:#429965; color: #001C19;"></i></a>
                <a data-bs-toggle="modal" data-bs-target="#dataViz">
                  <h4>Data Vizualisation</h4>
                </a>
                <p>Création de dataviz et de tableaux de bord statiques et interactifs</p>
                <a data-bs-toggle="modal" data-bs-target="#dataViz" style="font-size: 23px">+</a>
              </div>
        </div>
      </section>

      <section id="about_me">
        <div class="fond">
          <div class="rectangle">
            <div class="row">
              <div class="col-lg-12 text-center" style="padding-bottom: 3%">
                <p style="display:inline; font-size: 35px">À PROPOS DE MOI</p>
                <center>
                  <hr style="width: 100px; height: 1px; border:none;color:#FEF5E6;background-color:#FEF5E6;">
                </center>
              </div>
              <div class="col-lg-4" style="display: flex; flex-direction: row; justify-content: center;">
                <div class="circle">
                  <img src="../img/Photo.png">
                </div>
              </div>
              <div class="col-lg-7" style="display: flex; flex-direction: row; justify-content: center;">
                <div>
                  <p>
                    I am a data scientist and generative artist. Previously I went
                    to National University of Singapore, EPFL and Duke University.
                  </p>
                  <p>
                    Besides data science and data storytelling, I also like
                    contemporary art and travelling.
                  </p>
                  <p>
                    Having lived in China, Singapore, Switzerland and the United
                    States, I understand English, Chinese and French.
                  </p>
                  <p>
                    I have given talks and workshops such as Introduction To
                    Visualization for Women Who Code and Drawing with Data Workshop
                    at Airbnb APAC.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--  -->
      <section id="portfolio" style="padding-top: 10vh; padding-bottom: 30vh;">
        <div class="container">
          <div class="col-lg-12 text-center" style="padding-bottom: 3%">
            <p style="display:inline; font-size: 35px">PORTFOLIO</p>
            <center>
              <hr style="width: 100px; height: 1px; border:none;color:#001C19;background-color:#001C19;">
            </center>
          </div>
          
        </div>
        <div class="container">
          <div class="row justify-content-center" style="padding-bottom: 3%">
            <div class="col-lg-10 d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-dark filter-menu" data-filter="moi" style="color:#FEF5E6;background: #001C19;">Tout</button>
            </div>
            <div class="col-lg-10 d-flex justify-content-between mb-2" style="padding-left: 10%; padding-right: 10%">
              <button type="button" class="btn btn-dark filter-menu" data-filter="moi" style="color:#FEF5E6;background: #001C19;">Data Engineering</button>
              <button type="button" class="btn btn-dark filter-menu" data-filter="moi" style="color:#FEF5E6;background: #001C19;">Data Analysis</button>
              <button type="button" class="btn btn-dark filter-menu" data-filter="moi" style="color:#FEF5E6;background: #001C19;">Data Vizualisation</button>
            </div>
            <div class="col-lg-10 d-flex justify-content-between">
              <button type="button" class="btn btn-dark filter-menu" data-filter="moi" style="color:#FEF5E6;background: #001C19;">Python</button>
              <button type="button" class="btn btn-dark filter-menu" data-filter="moi" style="color:#FEF5E6;background: #001C19;">Power BI</button>
              <button type="button" class="btn btn-dark filter-menu" data-filter="moi" style="color:#FEF5E6;background: #001C19;">Tableau</button>
              <button type="button" class="btn btn-dark filter-menu" data-filter="moi" style="color:#FEF5E6;background: #001C19;">Dataiku</button>
            </div>
          </div> 

          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-4 filter moi">
              <img src="https://d33wubrfki0l68.cloudfront.net/f74ce8edbfdd9dedafcd456b32a8ff0a68ab73b2/8ea4c/img/gallery/dataviz.png" class="img-fluid">
              <div class="projects_text">
              <a href="https://medium.com/@yanhann10/the-state-of-data-visualization-6de999f9e386">
                <h4>The State of Data Visualization</h4>
              </a>
              <p>(Made in R, 2017)</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-4 filter moi">
              <img src="https://d33wubrfki0l68.cloudfront.net/45c1754ead32007602e4fdb3c0e80bfa6063bd22/7fc8c/img/gallery/drinks.png" class="img-fluid">
              <div class="projects_text">
                <a href="https://medium.com/towards-data-science/preferences-of-drinks-around-the-world-36f37de0394">
                  <h4>Countries by Drinking Habits</h4>
                </a>
                <p>(Made in R, 2017)</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-4 filter nous">
              <img src="http://fakeimg.pl/365x365/" class="img-fluid">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-4 filter toi">
              <img src="http://fakeimg.pl/365x365/" class="img-fluid">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-4 filter nous">
              <img src="http://fakeimg.pl/365x365/" class="img-fluid">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-4 filter moi">
              <img src="http://fakeimg.pl/365x365/" class="img-fluid">
            </div>
          </div>
      </section>

      <section  id="contact" style="height: 65vh">
        <div style="padding-top : 30vh; display:flex; flex-direction:column; text-align:center; align-items:center; justify-content: center;">
            <div style="background: green;">
              <a href="mailto:teddy.thiebault@gmail.com">ME CONTACTER</a>
            </div>
        </div>
      </section>


      <section>
        <div class="fond" style="height: 30vh; background: #001C19;color: #FEF5E6;">
            <p>
                MENTIONS LEGALES
            </p>
        </div>
      </section>

    </main>

    <div class="modal fade" id="dataManagement" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <i class="fa fa-wrench services-logo" style="background:#429965; color: #001C19;"> </i>
            <h4>Data Management</h4>
            <p style="max-width: 600px">Un projet de données commence toujours par une étape d'ingénierie des données. Vous devez récolter les données et les stocker dans un format adéquat pour pouvoir les utiliser.</p>
            <div style="text-align: left">
              <h6>Je peux vous aider à...</h6>
              <hr>
              <ul>
                <li><u>Récolter</u> des données à partir de différentes sources comme des <code>APIs</code>, <code>SQL</code>
                  des bases de données ou des tableurs <code>Excel</code>.</li>
                <li><u>Reformater</u> et remodeler les données pour faciliter les analyses ultérieures.</li>
                <li><u>Nettoyer</u> les ensembles de données en éliminant les données aberrantes et aberrantes.</li>
                <li>Créez des <u>workflows</u> de données reproductibles </li>
                <li><u>Automatiser</u> la création de rapports sur les données</li>
              </ul>
              <br>
              <h6>Exemples:</h6>
              <hr>
              <ul>
                <li>I collected tweets containing the <code>#surf</code> for 9 months to study how surfers use
                  social media. I used the <code>twitter API</code> and made the data collection automatic
                  thanks to a personnal <code>webserver</code> and a custom <code>R script</code>.</li>
                <li>I created a <code>dashboard</code> for a company called Terres Inovia. It is directly
                  plugged on their <code>SQL database</code> and allows to access its information in real time.
                </li>
              </ul>
              <br>
              <h6>Contactez moi</h6>
              <hr>
              <span>Dites m'en plus sur votre projet à <a
                  href="mailto:teddy.thiebault@gmail.com">teddy.thiebault@gmail.com</a> pour voir si nous pouvons travailler ensemble.</span>
              <div style="margin-top: 15px;">
                <a class="btn btn-secondary btn text-uppercase js-scroll-trigger"
                  href="https://github.com/holtzy/data_to_viz">Github</a>
                <a class="btn btn-secondary btn text-uppercase js-scroll-trigger"
                  href="https://twitter.com/R_Graph_Gallery">Twitter</a>
                <a class="btn btn-secondary btn text-uppercase js-scroll-trigger"
                  href="mailto:yan.holtz.data@gmail.com">Mail</a>
              </div>
              <br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="dataMining" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <i class="fa fa-search services-logo" style="background:#429965; color: #001C19;"> </i>
            <h4>Data Analysis</h4>
            <p style="max-width: 600px">Explorer les données pour obtenir des réponses à vos questions, des segmentations, des profils... Rendre les données exploitables</p>
            <div style="text-align: left">
              <h6>Je peux vous aider pour</h6>
              <hr>
              <ul>
                <li><u>Exploration</u> des bases de données</li>
                <li>Création de <u>rapports</u> réplicables de données nettoyés en utilisant <code>Python, Dataiku</code>.</li>
                <li>Application de <u>méthodes statistiques</u> sur votre jeu de données.</li>
                <li> Création de <u>scripts personnalisés</u> pour l'analyse automatique de vos données.</li>
              </ul>
              <br>
              <h6>Exemples :</h6>
              <hr>
              <ul>
                <li>I'm the author of several <a href="https://github.com/holtzy/Publication">scientific
                    publications</a> where I was in charge to explore and understand complex dataset in order to
                  answer scientific questions.</li>
                <li>I recovered information about crypto currency prices on different exchanges and explored the
                  data looking for <a target="_blank" href="https://holtzy.github.io/Crypto-Arbitrage/">arbitrage
                    opportunities</a>.</li>
              </ul>
              <br>
              <h6>Contactez moi</h6>
              <hr>
              <span>Dites m'en plus sur votre projet à <a
                  href="mailto:teddy.thiebault@gmail.com">teddy.thiebault@gmail.com</a> pour voir si nous pouvons travailler ensemble.</span>
              <div style="margin-top: 15px;">
                <a class="btn btn-secondary btn text-uppercase js-scroll-trigger"
                  href="https://github.com/holtzy/data_to_viz">Github</a>
                <a class="btn btn-secondary btn text-uppercase js-scroll-trigger"
                  href="https://twitter.com/R_Graph_Gallery">Twitter</a>
                <a class="btn btn-secondary btn text-uppercase js-scroll-trigger"
                  href="mailto:yan.holtz.data@gmail.com">Mail</a>
              </div>
              <br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="dataViz" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <i class="fa fa-bar-chart services-logo" style="background:#429965; color: #001C19;"> </i>
            <h4>Data Visualization</h4>
            <p style="max-width: 600px"></p>
            <div style="text-align: left">
              <h6>Je peux vous aider pour</h6>
              <hr>
              <ul>
                <li>Création de <u>dashboard</u> <code> Power BI, Tableau, Google Data Studio...</code> pour l'analyse de données en temps réel</li>
                <li>Développement d'<u>aplications</u> en utilisant <code>Python</code> and <code>Flask</code>.</li>
                <li>Création de visuels sur-mesure avec <code>Seaborn</code></li>
              </ul>
              <br>
              <h6>Exemples :</h6>
              <hr>
              <ul>
                <li>Vous trouverez de nombreux autres exemples dans la section <a href="#portofolio" target="_blank">portfolio</a> de ce site.</li>
              </ul>
              <br>
              <h6>Contactez moi</h6>
              <hr>
              <span>Dites m'en plus sur votre projet à <a
                  href="mailto:teddy.thiebault@gmail.com">teddy.thiebault@gmail.com</a> pour voir si nous pouvons travailler ensemble.</span>
              <div style="margin-top: 15px;">
                <a class="btn btn-secondary btn text-uppercase js-scroll-trigger"
                  href="https://github.com/holtzy/data_to_viz">Github</a>
                <a class="btn btn-secondary btn text-uppercase js-scroll-trigger"
                  href="https://twitter.com/R_Graph_Gallery">Twitter</a>
                <a class="btn btn-secondary btn text-uppercase js-scroll-trigger"
                  href="mailto:yan.holtz.data@gmail.com">Mail</a>
              </div>
              <br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="../static/js/script.js" type="text/javascript"></script>
  </body>
</html>